
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}

.nav-link{
     display: flex;
     list-style: none;
    text-decoration: none;
     font-weight: 500px; 
      
}

 .btn-primary{
            background-color: #FF900E;
            color: #FFFFFF;
            padding: 20px 24px;
            font-size: 1.2rem;
            font-weight: 600px;

 }
 .bg-light{
       background-color: rgba(255, 144, 14, 0.1);
 }
  .text-gray{
         color:#424242
  }
  .text-light-gray{
     color: #727272;
  }
.nav-item{
         margin-right: 30px;       
}
.bg-light, .banner{
       max-width: 1440px;
       margin: 0 auto;
}
.banner-content{
   max-width: 550px;
   margin: 0 auto;
   text-align: center;

}

.banner-title{
            font-weight: 700px;
            font-size: 4rem;
}
.banner img{
     width: 100%;
}